@font-face {
    font-family: Dosis;
    src: url(fonts/Dosis/Dosis-Regular.otf);
}

body {
    font-family: "Dosis";
    color: white;
    background-color: #16213E;
    font-size: 20px;
}

a:link {
    color: #E94560;
}
a:visited {
    color: #E94560;
}
a:hover {
    color: #533483;
}
a:active {
    color: #16213E;
}

.web-menu {
    overflow: hidden;
    background-color: #0F3460;
    font-size: 40px;
}

.web-menu a {
    padding-right: 50px;
    float: left;
}

.web-menu img {
    width: 45px;
    height: 45px;
}

.footer {
    text-align: center;
    margin-top: 100px;
}
